/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #777777;
    font-weight: 500;
    background: #ffffff;
    font-family: 'Trebuchet MS ', sans-serif;
    padding: 0;
    margin: 0;
}
 t
{
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fc9b00; 
    pointer-events: none;
    animation: animate 3s linear forwards;
}

@keyframes animate
{
    0%
    {
        opacity: 1;
        transform: translate(0,0);
    }
    100%
    {
        opacity: 0;
        transform: translate(var(--x),var(--y));
    }
}

.ml-auto
{
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}


h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #4a4c70;
}

a {
    color: #4a4c70;
    transition: .3s;
}




a:hover,
a:active,
a:focus {
    color: #FDBE33;
    outline: none;
    text-decoration: none;
}

.btn.btn-custom {
    padding: 12px 20px;
    text-align: center; 
   font-size: 16px;
    font-weight: 500;
    color: #c7c7c7;
    border-radius: 0;
    border: 2px solid #FDBE33;
    box-shadow: inset 0 0 0 0 #FDBE33;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.btn.btn-custom:hover {
    color: #20212B;
    box-shadow: inset 0 0 0 30px #FDBE33;
}


.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.btn:focus,
.form-control1:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 100%;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-size: inherit;
    margin-left: 0;
}


/**********************************/
/****** Loader & Back to Top ******/
/**********************************/
#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
    -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
    transition: opacity .3s ease-out, visibility 0s linear .3s;
    z-index: 999;
}

#loader.show {
    -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
    transition: opacity .6s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#loader .loader {
    position: relative;
    width: 45px;
    height: 45px;
    border: 5px solid #dddddd;
    border-top: 5px solid #FDBE33;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.back-to-top {
    position: fixed;
    display: none;
    background: #FDBE33;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top i {
    color: #4a4c70;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #4a4c70;
}

.back-to-top:hover i {
    color: #FDBE33;
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: absolute;
    height: 55px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .text {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-left: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 65px;
    padding: 0 10px;
    text-align: center;  
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.donate-button span {
    display: inline-block;
    position: relative;
}



.donate-button:active {
    transform: scale(0.95); /* Slightly shrink the button on click */
}


.sponsor-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 15px rgba(214, 50, 50, 0.5); /* Blue glow effect */
    
   
}

.sponsor-button span {
    display: inline-block;
    position: relative;
}

.sponsor-button:hover {
    background-color: red; /* Darken the blue on hover */
    transform: scale(1.1); /* Slightly enlarge the button */
    box-shadow: 0 0 20px rgba(226, 78, 58, 0.7); /* Enhance the glow on hover */
}

.sponsor-button:active {
    transform: scale(0.95); /* Slightly shrink the button on click */
}

@keyframes shadowColorChange {
    0% {
        box-shadow: 0 2px 5px rgba(0, 47, 255, 0.5);
    }
    25% {
        box-shadow: 0 2px 5px rgba(0, 78, 224, 0.4);
    }
    50% {
        box-shadow: 0 2px 5px rgba(255, 17, 17, 0.4);
    }
    75% {
        box-shadow: 0 2px 5px rgba(0, 47, 255, 0.4);
    }
    100% {
        box-shadow: 0 2px 5px rgba(201, 0, 0, 0.5);
    }
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 47, 255, 0.4);
    animation: shadowColorChange 6s linear infinite;
}


.navbar .navbar-brand {
    margin: 0;
    width: 700px;
    padding-right: 00px;
}

.navbar .navbar-brand img {
    max-width: 400px;
    max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 15px 8px 15px;
    color: black;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #FDBE33;
    transition: none;
}

.dropdown-item:hover
{
    color: #FDBE33;
    transition: 1s;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #FDBE33;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}



@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 45px;
        padding: 20px 60px;
        background: white !important;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: white !important;
        border-bottom: none;
    }
    
    /* .page .navbar {
        background: black!important;
    } */
    
    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 17px;
        letter-spacing: 1px;
        margin-right: 25px;
        
    }

}

@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: white !important;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }

}

.donate-pulse-button {
    background-color: #005289; /* Button color */
    color: white;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 3s infinite;
    transition: all 1s ease-in-out;
    width: 100%;
    font-size: 14px;
}
 

/* Pulsing animation */
@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}


/* Media queries for different screen sizes */
@media (max-width: 768px) {
    .donate-pulse-button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .donate-pulse-button {
        padding: 6px 10px;
        font-size: 12px;
    }
    .navbar .navbar-brand {
        margin: 0;
        width: 400px;
        padding: 0;
    }
}

@media (max-width: 375px) {
    .donate-pulse-button {
        padding: 5px 8px;
        font-size: 10px;
    }
}

/* Style for the wrapper to center content */
.wrapper {
    display: flex;
    justify-content: center;
    padding: 20px; /* Optional: Adds padding around the container */
}

/* Style for the group to ensure proper alignment */
.group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Optional: Adds space between items */
}

/* Style for profile containers */
.profile-lg {
    flex: 1 1 300px; /* Adjust the width of profile containers */
    max-width: 300px; /* Optional: Limit maximum width */
}

/* Style for member cards */
.member-card {
    border: 1px solid #ddd; /* Optional: Adds border around the card */
    border-radius: 8px; /* Optional: Rounds the corners of the card */
    overflow: hidden; /* Ensures content doesn't overflow */
    text-align: center; /* Centers text within the card */
    padding: 15px; /* Optional: Adds padding inside the card */
}

/* Style for the photo frame */
.photo-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px; /* Space below the image */
}

/* Style for images to fit within the frame */
.photo-frame img {
    max-width: 100%;
    height: auto;
    display: block; /* Removes bottom space under the image */
}




/*******************************/
/********** Hero CSS ***********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    min-height: 500px;
    background: #ffffff;
    margin-bottom: 45px;
}

.carousel .container-fluid {
    padding: 0;
}

.carousel .carousel-item {
    position: relative;
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel .carousel-img {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 300px;
    text-align: right;
    overflow: hidden;
}

.carousel .carousel-img::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.carousel .carousel-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-text {
    position: absolute;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.carousel .carousel-text h1 {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.carousel .carousel-text p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}

.carousel .carousel-text-left
{
    position: absolute;
    right: 100px; /* Move to the left side of the screen */    
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start of the flex container */
    flex-direction: column;
    z-index: 2;
    
}

.carousel .carousel-text-left h1 {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.carousel .carousel-text-left p {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

.carousel .carousel-btn .btn.btn-custom {
    color: #ffffff;
}

.carousel .carousel-btn .btn.btn-custom:hover {
    color: #20212B;
}

.carousel .carousel-btn .btn:first-child {
    margin-right: 15px;
}

.carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 60px;
    top: calc(50% - 30px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 9;
}

.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-next {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FDBE33;
    background: rgba(256, 256, 256, .2);
    font-size: 22px;
    transition: .3s;
}

.carousel .owl-nav .owl-prev:hover,
.carousel .owl-nav .owl-next:hover {
    color: #ffffff;
    background: #FDBE33;
}

.carousel .owl-nav .owl-prev {
    margin-right: 2px;
}

.carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    background: #000000;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .carousel .carousel-text h1 {
        font-size: 35px;
    }
    
    .carousel .carousel-text p {
        font-size: 16px;
    }
    
    .carousel .carousel-text .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 767.98px) {
    .carousel .carousel-text h1 {
        font-size: 30px;
    }
    
    .carousel .carousel-text .btn {
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-text h1 {
        font-size: 20px;
        
    }
    
    .carousel .carousel-text .btn {
        padding: 8px 20px;
        font-size: 14px;
        letter-spacing: 0;
    }

    .carousel .carousel-text p {
        font-size: 12px;
    }
}

@media (max-width: 991.98px) {
    .carousel .carousel-text-left h1 {
        font-size: 35px;
    }
    
    .carousel .carousel-text-left p {
        font-size: 16px;
    }
    
    .carousel .carousel-text-left .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 767.98px) {
    .carousel .carousel-text-left h1 {
        font-size: 30px;
        
    }
    
    .carousel .carousel-text-left .btn {
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-text-left h1 {
        font-size: 20px;        
    }
    
    .carousel .carousel-text-left .btn {
        padding: 8px 20px;
        font-size: 14px;
        letter-spacing: 0;
        margin-left: 100px;
    }

    .carousel .carousel-text-left p {
        font-size: 12px;
        margin-left: 100px;
    }
}



/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 210px 0 0 0;
    text-align: center; /* Centers the content */
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/page-header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header .container {
    display: flex;
    align-items: flex-start; /* Aligns content to the top */
    justify-content: flex-end; /* Aligns content to the left */
    height: 100%; /* Ensure container takes full height */
}

.page-header .container h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700; 
    margin-top: 50px;
}

.page-header h2::after {
    position: relative;
    content: "";
    width: 100px;
    height: 5px;
    left: 0; /* Aligns the underline with the left-aligned text */
    bottom: -10px; /* Adjusts position of underline relative to the text */
    background-color: white;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #ffffff;
}

.page-header a:hover {
    color: #FDBE33;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #ffffff;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 991.98px) {
    .page-header {
        padding: 60px 0;
    }
    
    .page-header h2 {
        font-size: 45px;
        margin-left: 15px; /* Adjust for smaller screens */
        margin-top: 15px; /* Adjust for smaller screens */
    }
    
    .page-header a {
        font-size: 20px;
    }
}

@media (max-width: 767.98px) {
    .page-header {
        padding: 45px 0;
    }
    
    .page-header h2 {
        font-size: 35px;
        margin-left: 10px; /* Adjust for smaller screens */
        margin-top: 10px; /* Adjust for smaller screens */
    }
    
    .page-header a {
        font-size: 18px;
    }
}

.hi {
    position: relative;
    left: 300px; /* Adjust this value to move the element to the left */
    top: 90px; /* Adjust this value to move the element down */
    
}

.hi h2 {
    text-transform: capitalize;
}





/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
   
}

.section-header p {
    margin-bottom: 5px;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #FDBE33;
}

.section-header h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.we-are{
    margin-left: 500px;
}

@media (max-width: 991.98px) {
    .section-header h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 40px;
    }
}

@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 35px;
    }
}

/* Logo styling */
.logo {
    background: #FDBE33;
    padding: 10px 20px;
    overflow: hidden; /* Hide overflowing images */
    width: 100%; /* Ensure it fits the parent container */
}

.logo-container {
    display: flex;
    width: calc(6 * 200px); /* Adjust based on the width of each image */
    animation: scroll 10s linear infinite; /* Scroll animation */
}

.logo img {
    padding: 20px;
    padding-right: 150px;

    width: 400px; /* Adjust image width as needed */
}

/* Scroll animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
    text-align: justify;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img {
    width: 100%;
    height: 100vh;
}

.about .about-tab {
    width: 100%;
}

.about .about-tab .nav.nav-pills .nav-link {
    padding: 8px;
    font-weight: 600;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    transition: none;
}

.about .about-tab .nav.nav-pills .nav-link:hover,
.about .about-tab .nav.nav-pills .nav-link.active {
    color: #FDBE33;
    padding-bottom: 7px;
    border-bottom: 3px solid #FDBE33;
}

.about .about-tab .tab-content {
    padding: 15px 0 0 0;
    background: transparent;
}

.about .about-tab .tab-content .container {
    padding: 0;
}

@media (max-width: 991.98px) {
    .about .section-header {
        margin-top: 30px;
    }
}

@media (max-width: 767.98px) {
    .carousel .carousel-text h1 {
        font-size: 30px;
    }
    
    .carousel .carousel-text .btn {
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .about .msizi1 {
        font-size: 15px;
        text-align: justify;
    }
    
    .carousel .carousel-text .btn {
        padding: 8px;
        font-size: 14px;
        letter-spacing: 0;
        text-align: justify;
    }
}


/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    transition: .3s;
}

.service .service-icon {
    position: relative;
    width: 60px;
}

.service .service-icon i {
    position: relative;
    display: block;
    color: #FDBE33;
    font-size: 60px;
    line-height: 60px;
    margin-top: 5px;
}

.service .service-text {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}

.service .service-text::before {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 10px);
    top: 5px;
    left: 0;
    background: rgba(0, 0, 0, .1);
}

.service .service-text::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 40px;
    top: calc(50% - 20px);
    left: -1px;
    background: #FDBE33;
}

.service .service-text h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.service .service-text p {
    margin: 0;
}


/*******************************/
/********* Donate CSS **********/
/*******************************/
.donate {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: rgba(0, 0, 0, .5);
}

.donate .donate-content {
    padding: 45px 0 15px 0;
}

.container .donate {
    margin: 90px 0;
}

.container .donate .donate-content {
    padding: 45px 30px 15px 30px;
}

.donate .donate-content .section-header {
    margin-bottom: 30px;
}

.donate .donate-content .section-header h2 {
    color: #ffffff;
}

.donate .donate-text p {
    color: #ffffff;
    font-size: 18px;
}

.donate .donate-form {
    padding: 90px 30px;
    background: #FDBE33;
}

.donate .donate-form .control-group {
    margin-bottom: 15px;
}

.donate .donate-form .form-control {
    height: 60px;
    color: #ffffff;
    padding: 0 15px;
    border-radius: 0;
    border: 1px solid #ffffff;
    background: transparent;
}

.donate .donate-form .form-control1 {
    height: 150px;
    width: 100%;
     color: #ffffff;
     padding: 0 15px;
     border-radius: 0;
     border-style: none;
     border: 1px solid #ffffff;
     background: transparent;
     outline: none;
 }

 .donate .donate-form .form-control1:focus
 {
    transition: 1s;
    border-color:rgb(0, 204, 255);
 }

.donate .donate-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.donate .donate-form .form-control1::placeholder {
    color: #ffffff;
    opacity: 1;
}

.donate .donate-form .form-control:-ms-input-placeholder,
.donate .donate-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.donate .donate-form .form-control1:-ms-input-placeholder,
.donate .donate-form .form-control1::-ms-input-placeholder {
    color: #ffffff;
}

.donate .donate-form .btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.donate .donate-form .btn.btn-custom {
    padding: 15px 0;
    width: 100%;
    height: 60px;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.donate .donate-form .btn.btn-custom:hover,
.donate .donate-form .btn.btn-custom.active {
    color: #FDBE33;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 30px #ffffff;
}



/*******************************/
/********** Causes CSS *********/
/*******************************/
.causes {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.causes .causes-carousel {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
}

.causes .causes-item {
    margin: 0 15px;
    overflow: hidden;
    background: #f3f6ff;
}

.causes .causes-img {
    overflow: hidden;
}

.causes .causes-img img {
    width: 100%;
    transition: .3s;
}

.causes .causes-item:hover img {
    transform: scale(1.1);
}


.causes .causes-progress {
    width: 100%;
    margin-top: 32px;
    padding: 30px 30px 20px 30px;
}

.causes .progress {
    height: 10px;
    border-radius: 0;
    background: #dddddd;
    overflow: visible;
}

.causes .progress .progress-bar {
    position: relative;
    width: 0px;
    background: #FDBE33;
    overflow: visible;
    transition: 2s;
}

.causes .progress-bar span {
    position: absolute;
    top: -32px;
    right: 0;
    height: 23px;
    display: inline-block;
    padding: 2px 6px;
    background: #FDBE33;
    color: #20212B;
}

.causes .progress-bar span::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 23px;
    left: calc(50% - 6px);
    border: 6px solid;
    border-color: #FDBE33 transparent transparent transparent;
}

.causes .progress-text {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.causes .progress-text p {
    margin: 0;
}

.causes .causes-text {
    padding: 0 30px;
}

.causes .causes-text h3 {
    font-size: 22px;
    font-weight: 700;
}

.causes .causes-text p {
    margin: 0;
}

.causes .causes-btn {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.causes .causes-btn .btn {
    padding: 10px 0;
    width: 50%;
}

.causes .causes-btn .btn:last-child {
    color: #20212B;
    background: #FDBE33;
}

.causes .causes-btn .btn:last-child:hover {
    color: #ffffff;
}



/*******************************/
/********** Facts CSS **********/
/*******************************/
.facts {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 45px 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    
}

.facts .facts-item {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    
}

.facts .facts-item i {
    margin-top: 10px;
    font-size: 60px;
    line-height: 60px;
    color: #FDBE33;
   
}
/* Sparkles*/
.facts .tenor-gif-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none; /* Make the GIF non-interactive */
    z-index: 10;
}

.facts .facts-text {
    padding-left: 10px;
    
}

.facts .facts-text h3 {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
}

.facts .facts-text h3::after {
    position: absolute;
    top: 0px;
    color: #ffffff;
    font-size: 25px;
    font-family: "Trebuchet MS ";
    font-weight: 900;
}

.facts .facts-text h3.facts-plus::after {
    content: "\f067";
    right: -25px;
}

.facts .facts-text h3.facts-dollar::after {
    content: "R";
    left: -18px;
}

.facts .facts-text p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}


/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    position: relative;
    margin-bottom: 35px;
   padding-left: 10px;
}

.team .team-img {
    position: relative;
    overflow: hidden;
   
}

.team .team-img img {
    width: 100%;
    transform: scale(1.1);
    margin-bottom: -15px;
    transition: .3s;
}

.team .team-item:hover img {
    margin: -15px 0 0 0;
}

.team .team-text {
    position: absolute;
    width: calc(100% - 40px);
    height: 96px;
    bottom: 0;
    left: 20px;
    padding: 22px 0;
    text-align: center;
    background: #ffffff;
    transition: .3s;
    overflow: hidden;
}

.team .team-text h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.team .team-text p {
    margin-bottom: 20px;
}

.team .team-social {
    position: relative;
    font-size: 0;
}

.team .team-social a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 3px;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    color: #4a4c70;
    border: 2px solid #FDBE33;
    transition: .3s;
}
.container2{
    padding-left: 650px;
}
.team .team-social a:hover {
    color: #20212B;
    background: #FDBE33;
}

.team .team-item:hover .team-text {
    height: 160px;
}


/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.testimonial .testimonials-carousel {
    position: relative;
    width: calc(100% + 30px);
    margin: 0 -15px;
}

.testimonial .testimonial-item {
    position: relative;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.testimonial .testimonial-profile {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.testimonial .testimonial-profile img {
    width: 80px;
    margin-bottom: -1px;
}

.testimonial .testimonial-name {
    padding-left: 15px;
    width: calc(100% - 95px);
}

.testimonial .testimonial-name h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.testimonial .testimonial-name p {
    margin: 0;
    font-style: italic;
}

.testimonial .testimonial-text p {
    margin: 0;
}

.testimonial .owl-dots {
    margin-top: 15px;
    text-align: center;
}

.testimonial .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 0;
    background: #FDBE33;
}

.testimonial .owl-dot.active {
    background: #20212B;
}

.testimonial-text {
    position: relative;
    text-align: center; /* Center the content */
}

.testimonial-text img {
    width: 100%; /* Ensure the image takes up the full width */
}

.play-btn {
    display: inline-block;
    color: #FDBE33;
    font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    position: absolute;
    top: 50%; /* Center the button vertically */
    left: 50%; /* Center the button horizontally */
    transform: translate(-50%, -50%); /* Adjust for the offset */
}
/* 
.close-btn {
    display: none; 
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000; /* Ensure it is above other elements 
}

.video-playing .close-btn {
    display: block;  Show the close button when video is playing 
} 
 */


/*******************************/
/******** Volunteer CSS ********/
/*******************************/
.volunteer {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: rgba(0, 0, 0, .5);
}

.volunteer .volunteer-content {
    padding: 30px 0 45px 0;
}

.container .volunteer {
    margin: 90px 0;
}

.container .volunteer .volunteer-content {
    padding: 45px 30px 15px 30px;
}

.volunteer .volunteer-content .section-header {
    margin-bottom: 30px;
}

.volunteer .volunteer-content .section-header h2 {
    color: #ffffff;
}

.volunteer .volunteer-text p {
    color: #ffffff;
    font-size: 18px;
}

.volunteer .volunteer-form {
    padding: 90px 30px;
    background: #FDBE33;
}

.volunteer .volunteer-form .control-group {
    margin-bottom: 15px;
}

.volunteer .volunteer-form .form-control {
    height: 60px;
    color: #ffffff;
    padding: 0 15px;
    border-radius: 0;
    border: 1px solid #ffffff;
    background: transparent;
}

.volunteer .volunteer-form textarea.form-control {
    height: 120px;
    padding: 15px;
}

.volunteer .volunteer-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.volunteer .volunteer-form .form-control:-ms-input-placeholder,
.volunteer .volunteer-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.volunteer .volunteer-form .btn.btn-custom {
    padding: 15px 0;
    width: 100%;
    height: 60px;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.volunteer .volunteer-form .btn.btn-custom:hover {
    color: #FDBE33;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 30px #ffffff;
}


/*******************************/
/********** Event CSS **********/
/*******************************/
.event {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.event .event-item {
    margin-bottom: 30px;
    background: #f3f6ff;
}

.event .event-item img {
    width: 100%;
}

.event .event-content {
    padding: 30px;
    display: flex;
}

.event .event-meta {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.event .event-meta p {
    position: relative;
    margin-bottom: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.event .event-meta p:last-child {
    border-bottom: none;
}

.event .event-meta i {
    color: #4a4c70;
    width: 25px;
}

.event .event-text {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}

.event .event-text::before {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 5px);
    top: 6px;
    left: 0;
    background: rgba(0, 0, 0, .15);
}

.event .event-text::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 40px;
    top: calc(50% - 20px);
    left: -1px;
    background: #FDBE33;
}

.event .event-text h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.event .event-text p {
    margin: 0;
}

.event .btn.btn-custom {
    margin-top: 20px;
    padding: 8px 30px;
}

@media (max-width: 575.98px) {
    .event .event-content {
        flex-direction: column;
    }
    
    .event .event-meta {
        flex-direction: row;
    }
    
    .event .event-meta p {
        font-size: 14px;
        padding-right: 7px;
    }
    
    .event .event-meta p:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, .15);
    }
    
    .event .event-meta i {
        width: 18px;
    }
    
    .event .event-text {
        margin: 0;
        padding: 0;
    }
    
    .event .event-text::before,
    .event .event-text::after {
        display: none;
    }
}



/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.blog .blog-item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    background: #f3f6ff;
}

.blog .blog-img {
    width: 100%;
}

.blog .blog-img img {
    width: 100%;
}

.blog .blog-text {
    padding: 30px 30px 15px 30px;
}

.blog .blog-text h3 {
    font-size: 22px;
    font-weight: 700;
}

.blog .blog-text h3 a {
    color: #4a4c70;
}

.blog .blog-text h3 a:hover {
    color: #FDBE33;
}

.blog .blog-text p {
    margin: 0;
}

.blog .blog-meta {
    margin: 0 30px;
    padding-top: 15px;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .15);
}

.blog .blog-meta p {
    margin: 0;
    color: #777777;
    padding: 0 30px;
    border-right: 1px solid rgba(0, 0, 0, .15);
}

.blog .blog-meta p:first-child {
    padding-left: 0;
}

.blog .blog-meta p:last-child {
    padding-right: 0;
    border: none;
}

.blog .blog-meta i {
    color: #4a4c70;
    margin-right: 8px
}

.blog .pagination {
    margin-bottom: 15px;
}

.blog .pagination .page-link {
    color: #4a4c70;
    border-radius: 0;
    border-color: #4a4c70;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
    color: #FDBE33;
    background: #4a4c70;
}

.blog .pagination .disabled .page-link {
    color: #999999;
}


/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.contact .contact-img {
    position: relative;
    width: 100%;
}

.contact .contact-img img {
    width: 100%;
    height: 440px;
    object-fit: cover;
}

.contact .contact-form {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: -220px;
    padding: 30px;
    background: #f3f6ff;
}

@media (max-width: 991.98px) {
    .contact .contact-form {
        max-width: 600px;
    }
}

@media (max-width: 767.98px) {
    .contact .contact-form {
        max-width: 400px;
    }
}

@media (max-width: 575.98px) {
    .contact .contact-form {
        max-width: 300px;
    }
}

.contact .contact-form input {
    padding: 15px;
    background: none;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .contact-form textarea {
    height: 150px;
    padding: 8px 15px;
    background: none;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .contact-form .btn.btn-custom {
    width: 100%;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/*******************************/
/******* Single Post CSS *******/
/*******************************/
.single {
    position: relative;
    padding: 45px 0;
}

.single .single-content {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.single .single-content img {
    margin-bottom: 20px;
    width: 100%;
}

.single .single-tags {
    margin: -5px -5px 41px -5px;
    font-size: 0;
}

.single .single-tags a {
    margin: 5px;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #4a4c70;
    border: 1px solid #4a4c70;
}

.single .single-tags a:hover {
    color: #ffffff;
    background: #FDBE33;
    border-color: #FDBE33;
}

.single .single-bio {
    margin-bottom: 45px;
    padding: 30px;
    background: #f3f6ff;
    display: flex;
}

.single .single-bio-img {
    width: 100%;
    max-width: 100px;
}

.single .single-bio-img img {
    width: 100%;
    border: 15px solid #ffffff;
}

.single .single-bio-text {
    padding-left: 30px;
}

.single .single-bio-text h3 {
    font-size: 20px;
    font-weight: 700;
}

.single .single-bio-text p {
    margin: 0;
}

.single .single-related {
    margin-bottom: 45px;
}

.single .single-related h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.single .related-slider {
    position: relative;
    margin: 0 -15px;
    width: calc(100% + 30px);
}

.single .related-slider .post-item {
    margin: 0 15px;
}

.single .post-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.single .post-item .post-img {
    width: 100%;
    max-width: 80px;
}

.single .post-item .post-img img {
    width: 100%;
}

.single .post-item .post-text {
    padding-left: 15px;
}

.single .post-item .post-text a {
    font-size: 16px;
    font-weight: 600;
}

.single .post-item .post-text a:hover {
    color: #FDBE33;
}

.single .post-item .post-meta {
    display: flex;
    margin-top: 8px;
}

.single .post-item .post-meta p {
    display: inline-block;
    margin: 0;
    padding: 0 3px;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}

.single .post-item .post-meta p a {
    margin-left: 5px;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
}

.single .related-slider .owl-nav {
    position: absolute;
    width: 90px;
    top: -55px;
    right: 15px;
    display: flex;
}

.single .related-slider .owl-nav .owl-prev,
.single .related-slider .owl-nav .owl-next {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a4c70;
    background: #FDBE33;
    font-size: 16px;
    transition: .3s;
}

.single .related-slider .owl-nav .owl-prev:hover,
.single .related-slider .owl-nav .owl-next:hover {
    color: #FDBE33;
    background: #4a4c70;
}

.single .single-comment {
    position: relative;
    margin-bottom: 45px;
}

.single .single-comment h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.single .comment-list {
    list-style: none;
    padding: 0;
}

.single .comment-child {
    list-style: none;
}

.single .comment-body {
    display: flex;
    margin-bottom: 30px;
}

.single .comment-img {
    width: 60px;
}

.single .comment-img img {
    width: 100%;
    border-radius: 0;
}

.single .comment-text {
    padding-left: 15px;
    width: calc(100% - 60px);
}

.single .comment-text h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}

.single .comment-text span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.single .comment-text .btn {
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 500;
    color: #4a4c70;
    background: #dddddd;
    border-radius: 0;
}

.single .comment-text .btn:hover {
    background: #FDBE33;
}

.single .comment-form {
    position: relative;
}

.single .comment-form h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.single .comment-form form {
    padding: 30px;
    background: #f3f6ff;
}

.single .comment-form form .form-group:last-child {
    margin: 0;
}

.single .comment-form input,
.single .comment-form textarea {
    border-radius: 0;
}

.single .comment-form input:focus,
.single .comment-form textarea:focus {
    border-color: #FDBE33;
}

/**********************************/
/*********** Values **********/
/**********************************/
.row {
    margin-bottom: 50px; /* Adjust this value as needed */
}

.pp {
    padding: 0px; /* Adjust this value as needed */
    justify-content: space-between;
    flex:2;
}

.service-item {
    display: flex;
    margin-bottom: -500px; /* Adjust this value as needed */
    gap:0.3px;
   
}

.service-text {
    padding: 0.005rem; /* Adjust this value as needed */
    margin-bottom: -40px;
   
} 


/**********************************/
/*********** Sidebar CSS **********/
/**********************************/
.sidebar {
    position: relative;
    width: 100%;
}

@media(max-width: 991.98px) {
    .sidebar {
        margin-top: 45px;
    }
}

.sidebar .sidebar-widget {
    position: relative;
    margin-bottom: 45px;
}

.sidebar .sidebar-widget .widget-title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: 700;
}

.sidebar .sidebar-widget .widget-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #FDBE33;
}

.sidebar .sidebar-widget .search-widget {
    position: relative;
}

.sidebar .search-widget input {
    height: 50px;
    border: 1px solid #dddddd;
    border-radius: 0;
}

.sidebar .search-widget input:focus {
    box-shadow: none;
    border-color: #FDBE33;
}

.sidebar .search-widget .btn {
    position: absolute;
    top: 6px;
    right: 15px;
    height: 40px;
    padding: 0;
    font-size: 25px;
    color: #FDBE33;
    background: none;
    border-radius: 0;
    border: none;
    transition: .3s;
}

.sidebar .search-widget .btn:hover {
    color: #4a4c70;
}

.sidebar .sidebar-widget .recent-post {
    position: relative;
}

.sidebar .sidebar-widget .tab-post {
    position: relative;
}

.sidebar .tab-post .nav.nav-pills .nav-link {
    color: #4a4c70;
    background: #FDBE33;
    border-radius: 0;
}

.sidebar .tab-post .nav.nav-pills .nav-link:hover,
.sidebar .tab-post .nav.nav-pills .nav-link.active {
    color: #FDBE33;
    background: #4a4c70;
}

.sidebar .tab-post .tab-content {
    padding: 15px 0 0 0;
    background: transparent;
}

.sidebar .tab-post .tab-content .container {
    padding: 0;
}

.sidebar .sidebar-widget .category-widget {
    position: relative;
}

.sidebar .category-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar .category-widget ul li {
    margin: 0 0 12px 22px; 
}

.sidebar .category-widget ul li:last-child {
    margin-bottom: 0; 
}

.sidebar .category-widget ul li a {
    display: inline-block;
    line-height: 23px;
}

.sidebar .category-widget ul li::before {
    position: absolute;
    content: '\f105';
    font-family: 'Trebuchet MS';
    font-weight: 900;
    color: #FDBE33;
    left: 1px;
}

.sidebar .category-widget ul li span {
    display: inline-block;
    float: right;
}

.sidebar .sidebar-widget .tag-widget {
    position: relative;
    margin: -5px -5px;
}

.single .tag-widget a {
    margin: 5px;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #4a4c70;
    border: 1px solid #4a4c70;
    border-radius: 0;
}

.single .tag-widget a:hover {
    color: #ffffff;
    background: #FDBE33;
    border-color: #FDBE33;
}

.sidebar .image-widget {
    display: block;
    width: 100%;
    overflow: hidden;
}

.sidebar .image-widget img {
    max-width: 100%;
    transition: .3s;
}

.sidebar .image-widget img:hover {
    transform: scale(1.1);
}


/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #dc0000;
    z-index: 1000; /* Higher z-index ensures it stays above other elements */
    padding: 40px 0; /* Add padding if needed */

}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #ffffff;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    color: #FDBE33;
    
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
    text-decoration: none; 
    
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Trebuchet MS";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #FDBE33;
    letter-spacing: 1px;
    text-decoration: none;
   
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    width: 40px;
    height: 40px;
    padding: 6px 0;
}

.footer .footer-social a {
    margin-top: 5px;
}

.footer .footer-newsletter form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    margin-bottom: 15px;
    height: 60px;
    border: none;
    border-radius: 0;
}

.footer .footer-newsletter label {
    margin-top: 5px;
    color: #777777;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer .footer-newsletter .btn.btn-custom {
    width: 100%;
    padding: 15px 0;
}

.footer .copyright {
    padding: 0 30px;
}

.footer .copyright .row {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright p {
    margin: 0;
    color: #999999;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #ffffff;
}

.footer .copyright p a:hover {
    color: #FDBE33;
}

.footer .footer-link h2:hover {
    text-decoration: none;
}



@media (max-width: 767.98px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}



.image-hackathon {
    text-align: center; /* Centers the image horizontally within the container */
    margin: 0 auto; /* Ensures the container is centered if it has a specific width */
}

.image-hackathon img {
    max-width: 100%; /* Ensures the image scales down to fit within its container */
    height: auto; /* Maintains the aspect ratio of the image */
    width: 35%; /* Adjust the width to make the image smaller (you can change the percentage as needed) */
}


/*Donation Journey*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);

body{
  font-family: 'Trebuchet MS ', sans-serif;
  color: #333;
}

header h1{
  text-align: center;
  /*font-weight: bold;*/
  margin-top: 0;
  
  
}
  
 .start{
   text-align: center;
   margin-bottom: 0;
 }


.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
 
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003883(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
 
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #e6b012;
 
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #e6b012;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #e6b012;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  font-weight: 600;
  
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
 
  position: relative;
  margin: 4px 0 0 0;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #ce1127;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
   
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
    
  }
}

.button-container {
    text-align: center;
    width: 100%;
    
}



/*
---------------------------------------------
benefits
---------------------------------------------
*/

.donation-journey-and-benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.timeline-container {
    flex: 1;
    max-width: 50%; /* Adjust as needed */
    padding-right: 10px; /* Space between timeline and benefits */
}

.benefits {
    flex: 1;
    max-width: 65%; /* Adjust as needed */
    background-color: rgba(250, 250, 250, 0.15);
    padding: 20px;
    margin-top: 100px; /* Aligns with the timeline start */
    align-items: center;
    padding-right: 10px;
}

.benefits h3 {
    padding-left: 310px; /* Align with container */
    padding-bottom: 20px;
    font-weight: bold;
}

.benefits .item {
    background-color: #e6b012;
    padding: 50px;
    margin-bottom: 15px;
    width: 650px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.benefits .item:hover {
    transform: scale(1.05); /* Slightly enlarge the item */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
}

.benefits .row {
    padding-left: 60px;
}
.benefits .item p {
    color: #fff;
    margin-bottom: 0;
}



/* Portfolio start*/
.portfolio-item .portfolio-btn {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background: rgba(34, 36, 41, 0.5);
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 0;
    transition: .5s;
  }
  
  .portfolio-item:hover .portfolio-btn {
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
  }
  
  .portfolio-item i {
    opacity: 0;
    transition: .3s;
    transition-delay: .3s;
   
  
  }
  
  .portfolio-item:hover i {
    opacity: 1;
    
    
  }


  /*portfolio ends*/


  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 700px;
    position: relative;
}

/* Modal Image */
.modal-img {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 500px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* The Navigation Arrows */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}




  

/*** Country Start ***/
/* .country .country-item {
    position: relative;
}

.country .country-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 58, 102, 0.7);
    border-radius: 10px;
    transition: 0.5s;
    z-index: 1;
}

.country .country-item:hover::after {
    height: 100%;
}

.country .country-item .country-flag {
    position: absolute;
    width: 90px; 
    height: 90px; 
    border-radius: 50%;
    top: -45px; 
    left: 50%; 
    transform: translateX(-50%);
    transition: 0.5s;
    z-index: 2;
}

.country .country-item .country-flag img {
    border: 5px solid var(--bs-white);
    transition: 0.5s;
}

.country .country-item:hover .country-flag img {
    border: 5px solid var(--bs-white);
    transform: rotate(360deg);
    transition: all 0.5s ease;
}

.country .country-item .country-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    opacity: 0;
    z-index: 3;
}

.country .country-item:hover .country-name {
    opacity: 1;
}

.country .country-item img {
    transition: 0.5s;
}

.country .country-item:hover img {
    transform: scale(1.2);
}

.country .country-item .country-name a.fs-4 {
    transition: 0.5s;
}

.country .country-item .country-name a.fs-4:hover {
    color: var(--bs-secondary) !important;
} */
/*** Country End ***/

h1.display-4 {
    margin-top: -90px; /* Adjust this value as needed */
    font-size: 2.0rem; /* Adjust this size as needed */
    font-weight: bold;
}

.row.portfolio-container {
    margin-top: -30px; /* Adjust this value as needed */
}
h1.display-3 {
    margin-top: -200px; /* Adjust this value as needed */
    font-size: 2.0rem; /* Adjust this size as needed */
    font-weight: bold;
}

h1.display-2 {
    margin-top: -200px; /* Adjust this value as needed */
    font-size: 2.0rem; /* Adjust this size as needed */
    font-weight: bold;
}





.closeVid {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    z-index: 1000; /* Ensure it's on top */
    cursor: pointer;
}





